<div class="header">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-sm-4">
                <img src="{{ site.favicon | prepend: site.baseurl }}" title="Avatar" alt="My Avatar">
                <h4>{{ site.author.name }}</h4>
                <p>{{ site.author.title }}</p>
                <p class="muted">{{ site.author.address }}</p>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-4 visible-md-block visible-lg-block visible-sm-block">
                <p><i class="fa fa-envelope-o fa-fw"></i> {{ site.author.email }} </p>
                <p><i class="fa fa-github fa-fw"></i><a href="//github.com/{{ site.author.github }}" target="_blank">  @{{ site.author.github }} </a></p>
                <p><i class="fa fa-linkedin-square fa-fw"></i> <a href="//linkedin.com/in/{{ site.author.linkedin }}" target="_blank"> linkedin.com/in/{{ site.author.linkedin }} </a></p>
                <p><i class="fa fa-twitter fa-fw"></i> <a href="//twitter.com/{{ site.author.twitter }}" target="_blank">  @{{ site.author.twitter }} </a></p>
            </div>
            <div class="col-sm-2 visible-md-block visible-lg-block">
                <a href="{{ site.cvPath }}" class="btn btn-dark"><i class="icon-file icon-white"></i> Download CV </a>
            </div>
            <div class="col-sm-2 visible-md-block visible-lg-block">
                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="59133910-6961-4e31-9265-e8c1e5c575fb"></div>
                <script type="text/javascript">
                    (function() {
                        var s = document.createElement('script');
                        s.type = 'text/javascript';
                        s.async = true;
                        s.src = '//cdn.youracclaim.com/assets/utilities/embed.js';
                        var o = document.getElementsByTagName('script')[0];
                        o.parentNode.insertBefore(s, o);
                    })();
                </script>

            </div>
        </div>
    </div>
</div>
